.services-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5fa;
}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 20px;
  margin: 60px 0;
  width: var(--wide);
}

.team > h2{
  font-size: 32px;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: var(--blue);
}

.team > h2::before{
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.team > h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.services-desc{
  text-align: center;
  font-size: 1.6rem;
}

.services-flex{
  display:grid;
  gap:var(--gap);
  grid-template-columns: repeat(2,1fr);
}
.services-card{
  background-color: white;
  display: flex;
  padding:var(--gap);
  gap:var(--gap);
}
.service-icon{
  border-radius: 50%;
  width: 110px;
}
.service-name{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--blue);
}
.service-about{
  margin-top: 10px;
  font-size: 14px;
}