.services-all {
  justify-content: space-between;
  padding: 0 70px;
  margin-top: 60px;
  margin-bottom: 60px;
}
body {
  background-color: #f3f5fa;
}
#services-title-event {
  animation: fadeInUpAnimation 0.5s ease-out;
}
@keyframes fadeInUpAnimation {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
.services-title > h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}
.services-title > h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.services-title > h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
#text-4 {
  text-align: center;
  margin-bottom: 20px;
}


.item-box {
  display: flex;
  gap: 30px;
}
.item {
  background-color: white;
  padding: 50px 30px;
  transition: transform 0.3s ease;
  animation: scaleUpAnimation 0.5s ease-out;
}
@keyframes scaleUpAnimation {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
.service-name {
  margin-top: 10px;
  color: #37517e;
  transition: ease-in-out 0.3s;
  font-size: 24px;
  font-weight: bold;
  cursor: grab;
}
.service-desc {
  margin-top: 20px;
  color: #444444;
  font-size: 14px;
}
.item:hover {
  transform: translateY(-10px);
}
.item:hover .service-name {
  color: #47b2e4;
}

/* 서비스 아이콘 svg처리하기 위한 css */
.service-icon{
  fill: #47b2e4;
  height: 35px;
  width: 35px;
}