section{
    display: block;
    padding: 60px 0;
}


.section_title4 > h2{
    
    position:relative;
}

.section_title4 > h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section_title4 > h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}
  
.pricing4{
    background-color: #FFFFFF;
    padding:60px 0;
}

price{
    padding:0 12px;

}
.for_margin_padding{
    margin: 0 106px;
    padding: 0 12px;
}

.pricing4 >h2 .section_title4{
    position: relative;
}

.pricing4 > h2> .section_title4 ::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .pricing4 > h2 .section_title4::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }

.section_title4{
    padding-bottom: 30px;
    text-align: center;
}

.section_title4 >h2 , .section_title4>p{
    text-align: center;
}

.section_title4 >h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title4 > p {
    margin-bottom: 0;
}

.row4{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-bottom: 40px;
    /* box-sizing: border-box; */
}


.pricing4 .box4 {
    padding: 25px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
  }

.pricing4  h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
 }

.pricing4 h4 {
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}

.pricing4 h4 dollar {
    font-size: 28px;
}

.pricing4 h4 text{
    font-size: 48px;
    color: #37517e;
}

.pricing4 h4 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
}

.pricing4 ul {
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
    margin-bottom: 16px;

}


.pricing4 ul li {
    padding: 10px 0 10px 30px;
    position: relative;
  }
  
.pricing4 ul i {
    color: #28a745;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 6px;
}
  
.pricing4 ul .na {
    color: #ccc;
}
  
.pricing4 ul .na i {
    color: #ccc;
}
  
.pricing4 ul .na span {
    text-decoration: line-through;
}
  
.pricing4 .buy-btn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}
  
.pricing4 .buy-btn:hover {
    background: #47b2e4;
    color: #fff;
}
  
.pricing4 .featured {
    border-top-color: #47b2e4;
}
  
.pricing4 .featured .buy-btn {
    background: #47b2e4;
    color: #fff;
}
  
.pricing4 .featured .buy-btn:hover {
    background: #23a3df;
}
  





/* ----------------------------------------------------frequently asked ----------------------------------------*/

.frequently4{
    background-color: #f3f5fa;
    padding: 60px 0px;

}

.bigbox4{
    display: flex;
    flex-direction: column;
}

.radio_checked:checked + label + .explanation4{
    display: inline;  /*이것저것 넣어보면서 알맞은값 찾기*/
}

.frequently_asked4{
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  margin-top: 15px;
  
}

.frequently_asked4 .explanation4{
   display:none;
}

.radio_checked{
    display: none;
}

.list4 label:hover{
    color:#47b2e4;
    cursor: pointer;

}

.list4 {
    padding: 0 100px;
}

.list4 ul {
    padding: 0;
    list-style: none;
}
  
  
.list4 a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.list4 p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.fa-solid fa-chevron-down {
    position:absolute;
    right:100px;
}

.frequently_asked4 label{
    display: flex;
    
}

.fa-solid fa-question, .fa-solid fa-chevron-down toggle-icon{
    align-items: center;
}


/* -------------------------------------------------------contact -----------------------------------------*/

.contact4{
    padding:60px 0;
    background-color: #FFFFFF;
}

.left4{
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 35%;
  position: relative;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.left4 .loction4 i:hover,
.left4 .email4 i:hover,
.left4 .phone4 i:hover {
    background: #37517e;
    cursor: pointer;
}

.contact4 .left4 i{
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact4 .left4 h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

.contact4 .left4 p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}



.right4{
  width: 50%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact4 button {
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    font-size: 16px;
  
}

.contact4 button:hover{
    background: #209dd8;
    cursor: pointer;
    
}


.whole4{
    display: flex;
    gap : 20px;
}

.right4 .first-line4{
    display: flex;  

}

.form4{ 
    padding: 0 12px 8px;
    margin:20px;

}

.form4 label,
.form4 input,
.form4 textarea {
    display: block; 
    width: 100%; 
}

.form4 input,
.form4 textarea {
    margin-top: 10px; 
}

.text-center4 {
    text-align: center; 
}

.form4 input[type="text"],
.form4 input[type="email"] {
    padding: 10px; 
}

.form4 textarea {
    padding: 10px;  
}

.form4{
    display: block;
    margin-bottom: 20px;
    padding-bottom: 8px;
}



.form4 label{
    padding:0 0 8px;
}



/* ---------------------------------------footer------------------------------------------------ */
.footer-top{
    padding: 0 12px;
}
footer .footer-newsletter{
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

footer {
    font-size: 14px;
    background: #37517e;
}
  
footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}
  
  footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}
  
footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
  
footer .footer-newsletter input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
footer .footer-newsletter  input[type=submit]:hover {
    background: #209dd8;
  }
 
footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}
  
footer .footer-top .footer-contact {
    margin-bottom: 30px;
    
}

.footer-links{
    padding:0 12px;
    margin:0 0 30px;
    width: 20%;
}

.footer-contact{
    padding:0 12px;
    margin:0 0 30px;
    width:20%
}

footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
  }
  
footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}
  
footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}
  
footer .footer-top .footer-links {
    margin-bottom: 30px;
}
  
footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
}
  
footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
  
footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
 }
  
footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
}
  
.footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
  
footer .footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}
  
footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }
  
footer .copyright {
    float: left;
  }
  
footer .credits {
    float: right;
    font-size: 13px;
  }
  
strong{
    font-weight:bolder;
}

.footer-links p{
    padding-bottom: 30px;
}
   
.team-icon4 {
    width: 33px;
    height: 33px;
    background-color:#23a3df;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-icon-in4 {
    width: 60%;
    fill: white;
  }
  .team-icon4:hover{
    background:#37517e;
    cursor: pointer;
}