.whyUs-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 70px;
  background-color: #f3f5fa;
}
/* 오른쪽 영역, 왼쪽 영역으로 분리 */
.whyUs-left-section {
  float: left;
  width: 50%;
  height: 100vh; /* 전체 화면 높이 */
  padding: 20px; /* 내부 여백 */
  box-sizing: border-box;
}
.whyUs-right-section {
  float: left;
  width: 50%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
}

#title-1 {
  font-size: 34px;
  font-weight: 400;
  color: #37517e;
  margin-bottom: 0;
}
#title-2 {
  font-size: 34px;
  font-weight: 900;
  color: #37517e;
  margin-top: 0;
  margin-bottom: 10px;
}
#text {
  margin-top: 10px;
}
/* Question&Answer 부분 */
input[id*="answer"] {
  display: none;
}
input[id*="answer"] + label {
  display: block;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 5;
  border: 1px solid #fff;
  border-bottom: 0;
  color: #343a40;
  font-weight: 900;
  background: #fff;
  cursor: pointer;
  position: relative;
}
input[id*="answer"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  margin-top: -15px;
  display: inline-block;
  background: url("/img/arrowdown.png") 0 0 no-repeat;
}
input[id*="answer"] + label + div {
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
  background: #fff;
  font-size: 11px;
}
input[id*="answer"] + label + div p {
  display: inline-block;
  padding: 20px;
  padding-top: 0px;
}
input[id*="answer"]:checked + label + div {
  max-height: 100px;
}
input[id*="answer"]:checked + label em {
  transform: rotate(180deg);
}
.accordion label {
  margin-top: 30px;
}

.question:hover {
    color: #47b2e4; 
}

#answer01:hover + label .question,
#answer02:hover + label .question,
#answer03:hover + label .question {
    color: #47b2e4; /* Specified color */
}
